@model S2CDataMigration.Web.Models.HomeViewModel
@{
    ViewData["Title"] = "Client Details";
}
<h2>@Model.ClientName</h2>
<h3>ABN Number:- @Model.ABNNumber</h3>

<address>
    @Model.ClientName<br />
    (@Model.ABNNumber)<br />
    <abbr title="Phone">P:</abbr>
    @Model.PhoneNumber
</address>

<address>
    <strong>Migration Type:</strong> <span>@Model.MigrationType</span><br />
    <strong>Connection String:</strong> <span>@Model.ConnectionString</span>
</address>
